*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "urbanist",sans-serif;
}

:root{
    --bs-dark-color:#1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --secondary-color:#29a9f0;
    --bs-supporting-color:#c850c0;
}

h1,h2,h3,h4,h5{
    font-family: "Lexend Deca",sans-serif;
    color: var(--bs-dark-color);
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color:var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* navbar style */
.nav-link{
    color: var(--bs-main-color);
    font-weight: bold;
}

.nav-link{
    color: var(--secondary-color);
}

.bg-main{
    height: 80vh;
    position: relative;
}


.bg-color{
    background-color: var(--bs-dark-primary);
}

.text-light-grey{
    color: var(--bs-primary-color);
}

button,a{
    font-size: 1.15rem!important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem!important;

}

.common-title{
    margin-bottom: 4.2rem;
}


.hero-video--section{
    max-width: 100%;
    height: auto;
    width: 60%;
    border-radius: 2rem;
}

.custom-shape-divider-bottom-1688959366 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1688959366 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1688959366 .shape-fill {
    fill: #FFFFFF;
}

/* services section */

.service-section{
    padding: 6rem 0 3rem 0!important;
}

.icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--secondary-color);
    color: var(--bs-main-color);
}